doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Campaign List
    
    //jQuery
    script(src="lib/jqueryui/jquery-1.8.3.min.js") 
    
    //underscore.js
    script(src="lib/underscore/underscore-min.js")    
    
    //bootstrap    
    script(src="lib/bootstrap/js/bootstrap.min.js")  
    script(src="lib/bootstrap/js/bootstrap-sortable.js")  
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')      
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap-sortable.css')      
    
    //application   
    script(src="js/ohmage.js")     
    script(src="js/choosecampaign.js")     
    link(rel='stylesheet', href='css/choosecampaign.css')   

  body
   div#choosecampaign
      h3 Select a campaign
      div(style="float:left")
        input(type="text", style="display:none", class="text-input", placeholder="search..." id="filter")
      div(style="float:right")
        input(type="checkbox", id="showUrn") 
        span  Show campaign urn

      table#campaigntable.table.table-striped.table-hover.sortable
        thead
          tr
            th(data-defaultsort="asc") Name
            th(style="display:none", id="urnHeader") URN
            th Shared Data
            th Total Data
            td  
        tbody
      div#loadinganimation
        img(src="images/spinner.gif", alt="loading")            
